
@{
    ViewBag.Title = "Matches";
}
</br>
@Html.ActionLink("Meet", "TelaPrincipal", "Main", new { @class= "btn btn-block btn-success", @type="button"})
</br>
@if (Model.Count > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-lg-4">
            <div class="card" style="width:400px; padding:40px">
                <img class="card-img-top" src="http://br.web.img3.acsta.net/pictures/15/08/05/20/31/056092.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@item.NomeUsuarioCurtido</h4>
                    <p class="card-text">Descrição exemplo</p>
                    <a href="#" class="btn btn-primary">Iniciar Chat</a>
                </div>
            </div>
        </div>
        }
    </div>
}