@Styles.Render("~/Content/TelaPrincipal.css")
@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
    <!-- Hover Demo-->
    <div class="column">
        <div class="demo-title"></div>
        <!-- Post-->
        <div class="post-module hover">
            <!-- Thumbnail-->
            <div class="thumbnail">
                <img src="http://br.web.img3.acsta.net/pictures/15/08/05/20/31/056092.jpg" />
            </div>
                        
            <!-- Post Content-->
            <div class="post-content">
                <h1 class="title">@item.Nickname</h1>
                <h2 class="sub_title">@item.Nome</h2>
                <p class="description">descrição qualquer uma</p>
                <div class="post-meta row">
                    <a href="
                        @Url.Action(
                        actionName: "matchAdd",
                        controllerName: "Main",
                        routeValues: new { id = item.IdUsuario, status = true})">

                        <span class="comments btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                    </a>
                    <a href="
                        @Url.Action(
                        actionName: "matchAdd", 
                        controllerName: "Main", 
                        routeValues: new { id = item.IdUsuario, status = false})">

                        <span class="comments btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    }
}
