@Styles.Render("~/Content/preferencias.css")
@{
    ViewBag.Title = "Preferencias";
}

<h2>Preferencias</h2>
<div class="row">
    <div class="col-lg-4">
        <a href="/Main/atualizarMatchPositivo" id="cueca">
            <img class="item" src="~/Content/img/cueca.png" alt="calcinha" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Main/atualizarMatchPositivo" id="calcinheca">
            <img class="item" src="~/Content/img/calcinheca.png" alt="calcinha" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="/Main/atualizarMatchPositivo" id="calcinha">
            <img class="item" src="~/Content/img/calcinha.png" alt="calcinha" />
        </a>
    </div>
</div>
