@Styles.Render("~/Content/preferencias.css")
@{
    ViewBag.Title = "Preferencias";
}

<h2>Preferencias</h2>
<div class="row">
    <div class="col-lg-4">
        <a href="https://www.w3schools.com">
            <img class="item" src="~/Content/img/calcinha.png" alt="calcinha" />
        </a>
    </div>
    <div class="col-lg-4">
        <img class="item" src="~/Content/img/calcinheca.png" alt="calcinha" />
    </div>
    <div class="col-lg-4">
        <img class="item" src="~/Content/img/cueca.png" alt="calcinha" />
    </div>
</div>
